# Секреты и ключи
.env
credentials.json
token.json
client_secrets.json

# Виртуальное окружение
venv/
env/

# Кэш питона
__pycache__/
*.pyc

# Сгенерированные файлы (чтобы не мусорить в репо)
*.docx
*.pdf
*.mp4
temp_audio.mp3